# Drug Consumption Setup
Thankfully, we don't have to do much cleaning - the input data comes already normalized.

In [1]:
import pandas as pd
from drugC_helper_funcs import create_non_light_heavy_cats

## Read in data

In [2]:
df = pd.read_csv('./data/drug_consumption.data')

In [3]:
df

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,-1.13788,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,-1.51840,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,-2.57309,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,0.41594,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

# Convert drug category values from str to int

In [4]:
drug_list = (['alcohol','amphet','amyl','benzos','caff','cannabis','choc','coke','crack',
              'ecstasy','heroin','ketamine','legalh','lsd','meth','mushrooms','nicotine','semer','vsa'])

In [5]:
def parse_drug_value(CL_val):
    CL_vals = CL_val.split("CL")
    #print(CL_vals)
    return int(CL_val[-1])

In [6]:
for column in df[drug_list]:
    df[column] = df[column].apply(parse_drug_value).astype('int16')

In [7]:
df[drug_list].head(7)
# df[drug_list].info()

,alcohol,amphet,amyl,benzos,caff,cannabis,choc,coke,crack,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
1,5,2,0,2,6,0,5,0,0,0,0,0,0,0,0,0,2,0,0
2,5,2,2,0,6,4,6,3,0,4,0,2,0,2,3,0,4,0,0
3,6,0,0,0,6,3,4,0,0,0,0,0,0,0,0,1,0,0,0
4,4,0,0,3,5,2,4,2,0,0,0,2,0,0,0,0,2,0,0
5,4,1,1,0,6,3,6,0,0,1,0,0,1,0,0,2,2,0,0
6,2,0,0,0,6,0,4,0,0,0,0,0,0,0,0,0,6,0,0
7,6,0,0,0,6,1,5,0,0,0,0,0,0,0,0,0,6,0,0

Nice

# Save to pickle
```./data/drug_consumption_cleaned.pkl```.

In [8]:
df.to_pickle('./data/drug_consumption_cleaned.pkl')